# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/
ENV/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode/PyCharm/JetBrains files
.vscode/
.idea/

# Environment variables
.env

# Docker stuff
*.log
docker-compose.override.yml

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Testing
htmlcov/
.tox/
.coverage
.cache
.pytest_cache/

# Mypy
.mypy_cache/
.dmypy.json

# Build artifacts
build/
dist/
*.egg-info/

# Generated feedback files
*.docx
